{% extends "base.html" %}

{% block content %}
<h1>Signup</h1>
<!-- <table> 
    <tbody> -->
    <form action="/signup" method="post">
    <label for="username">Username</label>
    <input name="username" value="" type="text"/>{% if usererror %}<span class='error'>{{ usererror }}</span>{% endif %}<br/>
    <label for="password">Password</label>
    <input name="password" value="" type="password"/>{% if passerror %}<span class='error'>{{ passerror }}</span>{% endif %}<br/>
    <label for="verpassword">Verify Password</label>
    <input name="verpassword" value="" type="password"/>{% if verpasserror %}<span class='error'>{{ verpasserror }}</span>{% endif %}<br/>
    <label for="email">Email (Optional)</label>
    <input name="email" value="" type="text"/>{% if emailerror %}<span class='error'>{{ emailerror }}</span>{% endif %}<br/>
<!--    </tbody>    
</table> -->
    <input type="submit"/>
</form>
{% endblock %}